/* 一括設定 */
body {
	background-color: rgb(250, 250, 250);
	color: rgb(37, 28, 21);
	font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
}

/* navbar */
.navbar {
	background: rgb(255, 255, 255);
}

::selection {
	background-color: rgb(139, 109, 80);
	color: #fff;
}

/* ナビゲーション */
.navShowClass {
	animation: DownAnime 0.5s forwards;
}

@keyframes DownAnime {
	from {
		opacity: 0;
		transform: translateY(-75px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.navHideClass {
	animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime {
	from {
		opacity: 1;
		transform: translateY(0);
	}

	to {
		opacity: 0;
		transform: translateY(-75px);
	}
}

/* コンテナ一括設定 */
.container {
	padding-top: 80px;
}

/* カルーセル */
.carousel-inner {
	max-height: 100vh;
}

.carousel-item img {
	min-height: 50vh;
	object-fit: cover;
}

.carousel-item::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.25);
}

/* ロゴ */
.main-logo {
	width: 90%;
	color: #fff;
	z-index: 2;
}

.main-logo h1 {
	writing-mode: vertical-rl;
}

.card-img-custom {
	min-height: 180px;
	padding: 0 10px;
	background: var(--bs-light);
}