/* 一括設定 */
body {
	background-color: rgb(255, 250, 247);
	color: rgb(61, 46, 35);
	font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
}
::selection {
	background-color: rgba(105, 93, 85, 0.5);
	color: #fff;
}

main {
	min-height: 100vh;
}

/* navbar */
.navbar {
	background: rgb(255, 250, 247);
}