/* 一括設定 */
body {
	background-color: var(--bs-light);
	color: var(--bs-dark);
	font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
}
::selection {
	/* background-color: rgba(58, 39, 61, 0.5); */
	background-color: var(--bs-gray);
	color: var(--bs-light);
}